<p>Add a venue:</p>

<form action="/venues" method="post">
  <label for="venue">Venue Name:</label>
  <input id="venue" name="venue" type="text">
  <br>
  <button type="submit">Add the venue</button>
</form>

<br>

<% if @venues.any?() %>
<p>Here is the list of venues</p>

<ul>
  <% @venues.each do |venue| %>
  <li><%= venue.name() %></li>
  <% end %>
</ul>


<br>

<a href="/bands">Click here to add a band</a>
<br>
<a href='/'>Click here to go to the main page</a>


<% end %>
